.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .container {
    flex-grow: 1;
    margin: auto 10px;
    margin-top: 20px;
    margin-bottom: 80px;
    overflow: hidden;
    padding: 20px;

    @media (max-width: 767px) {
      margin: 0;
      margin-bottom: 60px;
    }

    @media (min-width: 1024px) {
      margin-left: 140px;
      margin-right: 140px;
      margin-top: 60px;
      margin-bottom: 20px;
    }
  }
}
