* { box-sizing: border-box; }
html, body { height: 100%; }
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: #F0EFE9;
  color: #353535;
}
a { color: #353535; }
h1,h2,h3,h4,h5,h6 { font-family: 'Inter', sans-serif; font-weight: 500; }
input, select, textarea {
  border-radius: 40px;
  padding: 12px 18px;
  background-color: #fbf9f3;
  border: 1px solid rgb(150,150,150);
  color: #353535;
}
button {
  border: none;
  border-radius: 999px;
  padding: 10px 16px;
  cursor: pointer;
}
